<% cache do %>
  <% sleep 2 %>
  <h1>Contact Us</h1>
<% end %>


<%= flash[:notice] %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="row">
  <div class="form-group col-md-6">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name", required: true %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6 ">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email", required: true %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6 ">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5, required: true %>
  </div>
</div>

<div class="row">
  <%= form.submit "Send", class: "form_label btn btn-light my-margin-left", id: "myContactSendBtn" %>
</div>

<% end %>
