<% logger.debug "––– Product: #{myProduct.name}"%>

<div class="card my-card">

  <div class = "my-product-image-wrapper">

    <div class = "my-rating-overlay">
       <div class="rated" data-score="<%= myProduct.average_rating %>"></div>
    </div>

  <% begin
       myImage = image_tag(myProduct.image_url)
     rescue
       myImage = image_tag("no-image.gif", class: "card-img-top my-product-image")
     else
       myImage = image_tag(myProduct.image_url, class: "card-img-top my-product-image")
     end %>

     <% if myProduct.image_url.blank?
       myImage = image_tag("no-image.gif", class: "card-img-top my-product-image")
     end %>

  <%= link_to(myImage, myProduct) %>

</div>


  <div class="card-body  my-product-description">

    <h5 class = "my-truncate" data-toggle ="tooltip" data-placement="right" title = "<%=myProduct.name%>">
    <%= link_to(myProduct.name, myProduct, :class=>"card-title" )%></h5>

    <p class="card-text my-truncate" data-toggle ="tooltip" data-placement="right" title = "<%= myProduct.description %>">
    <%= myProduct.description %></p>

    <%if !myProduct.colour.present?
      myProduct.colour = "unknown"
    end%>

    <p class="card-text"><%= myProduct.colour %> colour</p>

    <hr>

    <%if !myProduct.price.present?
      postfix = " currently sold"
    else
      postfix = " EUR"
    end%>

    <p class="card-text"><%= myProduct.price.to_s  +  postfix%></p>

    <%if includeButtons%>
      <div class = "my-right">
        <%= link_to('Show', myProduct, :class=>"my-btn my-btn--small" )%>

        <% if user_signed_in? && current_user.admin?%>
        <%= link_to('Edit', edit_product_path(myProduct), :class=>"my-btn my-btn--small" )%>
        <%= link_to('Destroy', myProduct, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"my-btn my-btn--small" )%>
        <%end%>

      </div>
    <%end%>

  </div>

</div>
