<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email", required: true  %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter password", required: true  %>
  </div>
</div>

<div class="row">
  <% if devise_mapping.rememberable? -%>
    <div class="form-group col-md-6">
      <%= f.check_box :remember_me, class: "form-check-input my-login-checkbox" %>
      <%= f.label :remember_me, class: "form-check-label my-login-checkbox" %>
    </div>
  <% end -%>
</div>


<div class="row">
 <div class="actions my-margin-left">
    <%= f.submit "Log in", class: "form_label btn btn-light", id: "myLoginBtn" %>
  </div>
</div>

<% end %>

<%#= render "devise/shared/links" %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="row">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-link" %><br />
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row">
    <%= link_to "Sign up if you do not have an account!", new_registration_path(resource_name), class: "btn btn-link" %><br />
  </div>

<% end -%>
