<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<form>
  <div class="row">
  <div class="col-md-6 form-group">
    <%= form.label :name, class: "control-label" %>
      <%= form.text_field :name , class: "form-control" %>
  </div>

    <div class="col-md-6 form-group">
      <%= form.label :image_url, class: "control-label" %>
        <%= form.text_field :image_url, class: "form-control" %>
    </div>

  <div class="col-md-6 form-group">
    <%= form.label :description, class: "control-label" %>
      <%= form.text_area :description , class: "form-control" %>
  </div>


  <div class="col-md-3 form-group">
    <%= form.label :color, class: "control-label" %>
      <%= form.text_field :colour, class: "form-control" %>
  </div>

  <div class="col-md-3 form-group">
    <%= form.label :price, class: "control-label" %>
      <%= form.text_field :price, class: "form-control" %>
  </div>

</div>

 <div class="row">
   <%= form.submit "Submit", class: "btn btn-light my-form-submit-button" %>
</div>


</form>

<% end %>
