<h1>Only the best cobwebs!</h1>

<% @products.each do |product| %>
<div class="card my-card">
  <%= image_tag(product.image_url, :class => "card-img-top my-product-image") %>
  <!-- <img class="card-img-top" src= <%= product.image_url %> > -->
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <div class = "my-right">
      <%= link_to('Show', product, :class=>"my-btn my-btn--small" )%>
      <%= link_to('Edit', edit_product_path(product), :class=>"my-btn my-btn--small" )%>
      <%= link_to('Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"my-btn my-btn--small" )%>
    </div>
  </div>
</div>

<% end %>

<div class="card my-card">
  <div class="card-body my-center">
    <%= link_to('New Product', new_product_path, :class => "my-btn my-btn--large", :id =>"myNewProductBtn") %>
  </div>
</div>
