<h1>See all of our cobwebs!</h1>

<div class = "row">

  <div class = "my-products">
       <% @products.each do |product| %>
    <%= render partial: 'shared/my-product-card', locals: {myProduct: product, includeButtons: true} %>
    <% end %>

  </div>
</div>

<div class = "">
  <%= link_to('Create a new product', new_product_path, :class => "btn btn-light", :id =>"myNewProductBtn") %>
</div>

<div class = "my-product-table">
  <a class="btn btn-light" data-toggle="collapse" href="#myTableWrapper" role="button" aria-expanded="false" aria-controls="collapseExample">
    Toggle all products table
  </a>

  <div class="collapse" id = "myTableWrapper">
    <table class="my-table">
      <tr>
        <th>Product name</th>
        <th>Description</th>
        <th>Colour</th>
        <th>URL</th>
        <th>Price</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
      </tr>

      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.colour %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

    </table>
  </div> <!-- tabble wrapper -->
</div> <!-- my-product-table -->
