<p id="notice"><%= notice %></p>

<div id = "showProductImage">

<%= begin
     image_tag(@product.image_url, :class => "my-product-image")
   rescue
     image_tag("mask.png", :class => "my-product-image")
   end %>

</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour UK:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
